services:
  mariadb:
    image: 'mariadb:latest'
    environment:
      MARIADB_DATABASE: ${THEREABOUT_DATABASE}
      MARIADB_USER: ${THEREABOUT_DB_USER}
      MARIADB_PASSWORD: ${THEREABOUT_DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${THEREABOUT_DB_ROOT_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - thereabout_data:/var/lib/mysql

volumes:
  thereabout_data: