<thereabout-toolbar></thereabout-toolbar>

<div class="configuration-container">
  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <i class="pi pi-upload card-header-icon"></i>
        <span class="card-header-title">Data Import</span>
      </div>
    </ng-template>
    <div class="config-block">
      <p-select [options]="importTypeOptions"
        [(ngModel)]="selectedImportType"
        (ngModelChange)="onImportTypeChange()"
        optionLabel="label"
        [style]="{'width': '100%'}">
      </p-select>
    </div>
    <p [innerHTML]="selectedImportType.description"></p>
    @if (isReceiverRequired) {
      <div class="config-block">
        <label for="receiver" class="config-label"
               pTooltip="Link with an existing application identity, if none exist create a new one."
               tooltipPosition="top">Receiver</label>
        <p-autoComplete
          id="receiver"
          [(ngModel)]="receiverName"
          [suggestions]="filteredReceivers"
          (completeMethod)="filterReceivers($event)"
          placeholder="Enter or select a receiver"
          [style]="{'width': '100%'}"
          [inputStyle]="{'width': '100%'}">
        </p-autoComplete>
      </div>
    }
    @if (importStatus == FileImportStatus.StatusEnum.Idle) {
      <p-fileUpload
        name="file"
        mode="basic"
        chooseIcon="pi pi-upload"
        [accept]="selectedImportType.accept"
        maxFileSize="5073741824"
        fileLimit="1"
        [auto]="true"
        [disabled]="isBrowseDisabled"
        [customUpload]="true"
        (uploadHandler)="customUpload($event)"
        (onError)="onError($event)"
        chooseLabel="Browse"/>
    }
    @if (importStatus == FileImportStatus.StatusEnum.InProgress) {
      <p-progressBar [value]="importStatusProgress"
        />
    }
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <i class="pi pi-map-marker card-header-icon"></i>
        <span class="card-header-title">Overland configuration</span>
      </div>
    </ng-template>
    <p>
      <a href="https://overland.p3k.app/" target="_blank">Overland</a> is an iOS/Android app that can be used
      to track your location.
      Click the button below on your mobile device to configure Overland for Thereabout.
    </p>
    <p-button label="Configure Overland" (onClick)="configureOverland()"></p-button>
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <i class="pi pi-key card-header-icon"></i>
        <span class="card-header-title">API Authentication Key</span>
      </div>
    </ng-template>
    <div class="flex flex-column gap-2">
      <input
        id="thereabout-api-key"
        type="text"
        pInputText
        class="config-input-full"
        [value]="thereaboutConfig?.thereaboutApiKey"
        [disabled]="true"/>
    </div>
    <p>Can be used to authenticate public API requests. See the POST GeoJson endpoint in the
      <a href="/swagger-ui/index.html" target="_blank">Thereabout API</a>.</p>
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <i class="pi pi-info-circle card-header-icon"></i>
        <span class="card-header-title">Version</span>
      </div>
    </ng-template>
    <div class="version-content">
      <b pTooltip="Branch: {{thereaboutConfig?.versionDetails?.branch}}
       Date: {{thereaboutConfig?.versionDetails?.commitTime}}
       Commit: {{thereaboutConfig?.versionDetails?.commitRef}}"
        tooltipPosition="top" showDelay="500">{{ thereaboutConfig?.versionDetails?.version }}</b>
      <span> made with ♡ by <a href="https://github.com/aerobless/thereabout"
        target="_blank">aerobless</a></span>
    </div>
  </p-card>
</div>
