.main-content {
  padding: 20px;
}

.trip-content {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.trip-container {
  width: 500px;
  padding: 10px;

  .p-panel {
    height: 100%;
  }
}

.country-tags {
  max-width: 310px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.2rem !important;
  gap: 2px;
}

.add-trip-button-container {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 1000;
}

.add-trip-button {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.trip-title {
  display: block;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
  width: 310px;
}

.trip-description {
  display: block;
  text-overflow:ellipsis;
  overflow:hidden;
  height: 60px;
  width: 430px;
}