<p-toolbar>
    <div class="p-toolbar-group-start">
        <b style="padding-left: 5px; padding-right: 5px">Thereabout Trips</b>
    </div>
    <div class="p-toolbar-group-center">
        <!-- center space -->
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-arrow-circle-left" (onClick)="navigateBackToMap()" class="button toolbar-item"
                  severity="secondary"></p-button>
    </div>
</p-toolbar>

<div class="main-content">
    <div class="loading-spinner" *ngIf="isLoading">
        <p-progressSpinner ariaLabel="loading" styleClass="w-20rem h-20rem"/>
    </div>
    <div *ngFor="let year of getYears()">
        <h1>{{ year }}</h1>
        <div class="trip-content">
            <div *ngFor="let trip of getTripsForYear(year)" class="trip-container">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold">
                                {{ trip.title }}
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                            <div class="flex align-items-center gap-2 country-tags">
                                <p-chip *ngFor="let country of trip.visitedCountries"
                                        pTooltip="{{country.countryName}}" tooltipPosition="top" showDelay="500"
                                        label="{{getFlagEmoji(country.countryIsoCode!)}} {{country.countryIsoCode}}"/>
                            </div>
                            <span class="p-text-secondary" style="align-self: flex-end;">
                                <p-splitButton
                                        label="View"
                                        severity="secondary"
                                        [model]="tripPanelMenuItems"
                                        (onClick)="viewTrip(trip)"
                                        (onDropdownClick)="onTripPanelMenuClick(trip)"
                                        outlined/>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="icons">
                        <p-chip label="{{calculateDaysSpent(trip)}} days"
                                pTooltip="{{trip.start | reformatDate}} until {{trip.end | reformatDate}}" tooltipPosition="top" showDelay="500"
                                icon="pi pi-calendar"/>
                    </ng-template>
                    <p class="m-0">
                        {{ trip.description }}
                    </p>
                </p-panel>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Add new trip" [modal]="true" [(visible)]="addTripDialogVisible" [style]="{ width: '30rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="tripTitle" class="font-semibold w-6rem">Title</label>
        <input pInputText id="tripTitle" class="flex-auto" autocomplete="off" [(ngModel)]="currentTrip.title"/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="tripSubtitle" class="font-semibold w-6rem">Subtitle</label>
        <input pInputText id="tripSubtitle" class="flex-auto" autocomplete="off" [(ngModel)]="currentTrip.description"/>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <div style="display: flex; gap: 10px" class="align-items-center">
            <div class="flex flex-column gap-2 pt-2" style="flex: 1;">
                <label for="fromDate" class="font-semibold w-6rem">From</label>
                <p-calendar
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        [(ngModel)]="currentTripStart"
                        (ngModelChange)="currentTrip.start = formatIsoDateWithoutTimeZoneAdjustment(currentTripStart!)"
                        id="fromDate"
                        dateFormat="dd.mm.yy"
                        appendTo="body"
                        inputId="icondisplay"/>
            </div>
            <div class="flex flex-column gap-2 pt-2" style="flex: 1;">
                <label for="toDate" class="font-semibold w-6rem">To</label>
                <p-calendar
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        [(ngModel)]="currentTripEnd"
                        (ngModelChange)="currentTrip.end = formatIsoDateWithoutTimeZoneAdjustment(currentTripEnd!)"
                        id="toDate"
                        dateFormat="dd.mm.yy"
                        appendTo="body"
                        inputId="icondisplay"/>
            </div>
        </div>
    </div>
    <span class="p-text-secondary block mb-5">Additional information such as days spent and visited countries are calculated automatically based on your location data.</span>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="addTripDialogVisible = false"/>
        <p-button *ngIf="!isEdit()" label="Save" (click)="saveTrip()" [disabled]="isSaveButtonDisabled()"/>
        <p-button *ngIf="isEdit()" label="Update" (click)="updateTrip()" [disabled]="isSaveButtonDisabled()"/>
    </div>
</p-dialog>

<div class="add-trip-button-container" *ngIf="!isLoading">
    <div *ngIf="trips.length === 0 && !isLoading">
        <h2>Click below to add your first trip</h2>
    </div>
    <div class="button-container-button">
        <p-button label="Add Trip" icon="pi pi-plus" (onClick)="addTrip()"
                  severity="success" [rounded]="true" size="large"></p-button>
    </div>
</div>