<p-toolbar>
    <div class="p-toolbar-group-start">
        <b style="padding-left: 5px; padding-right: 5px">Thereabout Trips</b>
    </div>
    <div class="p-toolbar-group-center">
        <p-button label="Add Trip" icon="pi pi-plus" class="button" severity="secondary"></p-button>
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-arrow-circle-left" (onClick)="navigateBackToMap()" class="button toolbar-item"
                  severity="secondary"></p-button>
    </div>
</p-toolbar>

<div style="padding: 20px">
    <div *ngFor="let year of getYears()">
        <h1>{{year}}</h1>
        <div style="display: flex; justify-content: left; flex-wrap: wrap;">
            <div *ngFor="let trip of getTripsForYear(year)" style="width: 450px; padding: 10px">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <span class="font-bold">
                                {{trip.title}}
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                            <div class="flex align-items-center gap-2">
                                <p-chip *ngFor="let country of trip.visitedCountries" label="{{getFlagEmoji(country.countryIsoCode!)}} {{country.countryName}}" />
                            </div>
                            <span class="p-text-secondary">
                    <p-splitButton
                            label="View"
                            severity="secondary"
                            [model]="tripPanelMenuItems"
                            outlined />
                </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="icons">
                        <p-chip label="{{calculateDaysSpent(trip)}} days" icon="pi pi-calendar" />
                    </ng-template>
                    <p class="m-0">
                        {{trip.description}}
                    </p>
                </p-panel>
            </div>
        </div>
    </div>
</div>