<p-toolbar>
    <div class="p-toolbar-group-start">
        <b>Thereabout</b>
    </div>
    <div class="p-toolbar-group-center">
        <p-iconField iconPosition="left" class="toolbar-item">
            <p-inputIcon styleClass="pi pi-search"/>
            <input type="text" pInputText placeholder="Search" (keydown)="geocodeAddress($event)"
                   [(ngModel)]="searchValue"/>
        </p-iconField>
        <p-button icon="pi pi-times" (onClick)="resetSearch()" class="button toolbar-item" severity="secondary"></p-button>
    </div>
    <div class="p-toolbar-group-end">
    </div>
</p-toolbar>
<br>

<div style="display: flex; height: calc(100vh - 120px);">
    <!-- Google Maps Section -->
    <div style="flex-grow: 1;">
        <google-map width="100%" height="100%" [center]="center" [zoom]="zoom">
            <map-heatmap-layer [data]="heatmapData" [options]="heatmapOptions"></map-heatmap-layer>
            <map-polyline [path]="dayViewData"></map-polyline>
        </google-map>
    </div>

    <!-- Right Side Panels -->
    <div style="display: flex; flex-direction: column;">
        <!-- Heatmap Panel -->
        <div style="padding: 0 0 10px 10px; width: 360px;">
            <p-panel header="Heatmap" [toggleable]="true">
                <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px">
                    <p-floatLabel style="padding-right: 10px">
                        <p-calendar [(ngModel)]="fromDate" (ngModelChange)="loadHeatmapData()" [iconDisplay]="'input'"
                                    [showIcon]="true" class="toolbar-item" id="from-date"></p-calendar>
                        <label for="from-date">From</label>
                    </p-floatLabel>
                    <p-floatLabel>
                        <p-calendar [(ngModel)]="toDate" (ngModelChange)="loadHeatmapData()" [iconDisplay]="'input'"
                                    [showIcon]="true" class="toolbar-item" id="to-date"></p-calendar>
                        <label for="to-date">To</label>
                    </p-floatLabel>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px">
                    <p-button label="YTD" [rounded]="true" severity="secondary" (onClick)="setQuickFilterForHeatmap(QuickFilterDateCombo.YTD)"></p-button>
                    <p-button label="1 year" [rounded]="true" severity="secondary" (onClick)="setQuickFilterForHeatmap(QuickFilterDateCombo.ONE_YEAR)"></p-button>
                    <p-button label="5 years" [rounded]="true" severity="secondary" (onClick)="setQuickFilterForHeatmap(QuickFilterDateCombo.FIVE_YEARS)"></p-button>
                    <p-button label="Full" [rounded]="true" severity="secondary" (onClick)="setQuickFilterForHeatmap(QuickFilterDateCombo.FULL_HISTORY)"></p-button>
                </div>
            </p-panel>
        </div>

        <!-- Day View Panel -->
        <div style="padding: 0 0 10px 10px; width: 360px;">
            <p-panel header="Day View" [toggleable]="true">
                <div class="dayview-date-selector">
                    <p-button icon="pi pi-chevron-left" (onClick)="decrementDate()" class="button toolbar-item" severity="secondary"></p-button>
                    <p-calendar [(ngModel)]="exactDate" (ngModelChange)="loadDayViewData()" [iconDisplay]="'input'"
                                [showIcon]="true" class="toolbar-item" #exactDateCalendarInput></p-calendar>
                    <p-button icon="pi pi-chevron-right" (onClick)="incrementDate()" class="button toolbar-item" severity="secondary"></p-button>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px">
                    <p-button icon="pi pi-map-marker" label="Locate" [rounded]="true" severity="info" (onClick)="locateDayView()"></p-button>
                    <p-button icon="pi pi-image" label="Photos" [rounded]="true" severity="secondary" (onClick)="openGooglePhotos()"></p-button>
                    <p-button label="Reset" [rounded]="true" severity="secondary" (onClick)="setTodayForDayView()"></p-button>
                </div>
            </p-panel>
        </div>
    </div>
</div>