<thereabout-toolbar></thereabout-toolbar>

<div class="detail-container">

  <div class="back-row">
    <p-button icon="pi pi-arrow-left" label="Back to Identities"
              [text]="true" routerLink="/identities"></p-button>
  </div>

  @if (identity) {
    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-id-card card-header-icon"></i>
          <span class="card-header-title">Identity Details</span>
        </div>
      </ng-template>
      <div class="detail-fields">
        <div class="detail-field">
          <span class="field-label">Short Name</span>
          <span class="field-value">{{ identity.shortName }}</span>
        </div>
        <div class="detail-field">
          <span class="field-label">Group</span>
          <span class="field-value">{{ identity.isGroup ? 'Yes' : 'No' }}</span>
        </div>
        <div class="detail-field">
          <span class="field-label">Relationship</span>
          <span class="field-value">{{ identity.relationship || '--' }}</span>
        </div>
      </div>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-link card-header-icon"></i>
          <span class="card-header-title">Linked Application Identities</span>
        </div>
      </ng-template>
      <p-table
        [value]="identity.identityInApplications || []"
        styleClass="p-datatable-striped"
        [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Application</th>
            <th>Identifier</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appIdentity>
          <tr>
            <td>{{ appIdentity.application }}</td>
            <td>{{ appIdentity.identifier }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" style="text-align: center">No linked application identities.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  }

  @if (!identity) {
    <p-card>
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-exclamation-triangle card-header-icon"></i>
          <span class="card-header-title">Identity Not Found</span>
        </div>
      </ng-template>
      <p>The requested identity could not be found.</p>
    </p-card>
  }

</div>
