openapi: "3.0.2"
info:
  title: Frontend REST API
  version: "1.0"
paths:
  # Location
  /backend/api/v1/location/sparse:
    $ref: 'openapi/location.yaml#/paths/LocationSparse'
  /backend/api/v1/location:
    $ref: 'openapi/location.yaml#/paths/Location'
  /backend/api/v1/location/geojson:
    $ref: 'openapi/location.yaml#/paths/LocationGeojson'
  /backend/api/v1/location/{id}:
    $ref: 'openapi/location.yaml#/paths/LocationById'
  /backend/api/v1/statistics:
    $ref: 'openapi/location.yaml#/paths/Statistics'
  /backend/api/v1/trip:
    $ref: 'openapi/location.yaml#/paths/Trip'
  /backend/api/v1/trip/{id}:
    $ref: 'openapi/location.yaml#/paths/TripById'
  /backend/api/v1/location-history-list:
    $ref: 'openapi/location.yaml#/paths/LocationHistoryList'
  /backend/api/v1/location-history-list/{id}:
    $ref: 'openapi/location.yaml#/paths/LocationHistoryListById'
  /backend/api/v1/location-history-list/{id}/location:
    $ref: 'openapi/location.yaml#/paths/LocationHistoryListLocation'

  # Client
  /backend/api/v1/config:
    $ref: 'openapi/client.yaml#/paths/Config'
  /backend/api/v1/config/import-file:
    $ref: 'openapi/client.yaml#/paths/ConfigImportFile'

  # Health
  /backend/api/v1/health:
    $ref: 'openapi/health.yaml#/paths/Health'
  /backend/api/v1/health/data:
    $ref: 'openapi/health.yaml#/paths/HealthData'

  # Communication
  /backend/api/v1/identity:
    $ref: 'openapi/communication.yaml#/paths/Identity'
  /backend/api/v1/identity/{id}:
    $ref: 'openapi/communication.yaml#/paths/IdentityById'
  /backend/api/v1/identity-in-application:
    $ref: 'openapi/communication.yaml#/paths/IdentityInApplicationByApplication'
  /backend/api/v1/identity-in-application/unlinked:
    $ref: 'openapi/communication.yaml#/paths/IdentityInApplicationUnlinked'
  /backend/api/v1/identity-in-application/{id}/link/{identityId}:
    $ref: 'openapi/communication.yaml#/paths/IdentityInApplicationLink'
  /backend/api/v1/identity-in-application/{id}/unlink:
    $ref: 'openapi/communication.yaml#/paths/IdentityInApplicationUnlink'
  /backend/api/v1/message:
    $ref: 'openapi/communication.yaml#/paths/Message'

components:
  schemas:
    # Shared
    ThereaboutBaseErrorModel:
      type: object
      required:
        - requestId
        - errorMessageParameters
        - errorMessageTranslationKey
        - extraInformation
      properties:
        requestId:
          type: string
        errorMessageTranslationKey:
          type: string
        errorMessageParameters:
          type: array
          items:
            type: string
          x-field-extra-annotation: "@lombok.Builder.Default"
        extraInformation:
          type: string
        stacktrace:
          type: string

    # Client
    FrontendConfigurationResponse:
      $ref: 'openapi/client.yaml#/components/schemas/FrontendConfigurationResponse'
    VersionDetails:
      $ref: 'openapi/client.yaml#/components/schemas/VersionDetails'
    FileImportStatus:
      $ref: 'openapi/client.yaml#/components/schemas/FileImportStatus'
    ImportType:
      $ref: 'openapi/client.yaml#/components/schemas/ImportType'

    # Location
    Trip:
      $ref: 'openapi/location.yaml#/components/schemas/Trip'
    UserStatistics:
      $ref: 'openapi/location.yaml#/components/schemas/UserStatistics'
    CountryStatistic:
      $ref: 'openapi/location.yaml#/components/schemas/CountryStatistic'
    SparseLocationHistoryResponse:
      $ref: 'openapi/location.yaml#/components/schemas/SparseLocationHistoryResponse'
    LocationHistoryResponse:
      $ref: 'openapi/location.yaml#/components/schemas/LocationHistoryResponse'
    SparseLocationHistoryEntry:
      $ref: 'openapi/location.yaml#/components/schemas/SparseLocationHistoryEntry'
    LocationHistoryEntry:
      $ref: 'openapi/location.yaml#/components/schemas/LocationHistoryEntry'
    GeoJsonLocation:
      $ref: 'openapi/location.yaml#/components/schemas/GeoJsonLocation'
    LocationHistoryList:
      $ref: 'openapi/location.yaml#/components/schemas/LocationHistoryList'

    # Health
    HealthData:
      $ref: 'openapi/health.yaml#/components/schemas/HealthData'
    HealthMetric:
      $ref: 'openapi/health.yaml#/components/schemas/HealthMetric'
    MetricDataQuantity:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataQuantity'
    MetricDataBloodPressure:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataBloodPressure'
    MetricDataHeartRate:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataHeartRate'
    MetricDataSleep:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataSleep'
    MetricDataBloodGlucose:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataBloodGlucose'
    MetricDataSexualActivity:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataSexualActivity'
    MetricDataHandwashing:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataHandwashing'
    MetricDataToothbrushing:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataToothbrushing'
    MetricDataInsulin:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataInsulin'
    MetricDataHeartRateNotification:
      $ref: 'openapi/health.yaml#/components/schemas/MetricDataHeartRateNotification'
    Workout:
      $ref: 'openapi/health.yaml#/components/schemas/Workout'
    QuantityData:
      $ref: 'openapi/health.yaml#/components/schemas/QuantityData'
    WorkoutHeartRateData:
      $ref: 'openapi/health.yaml#/components/schemas/WorkoutHeartRateData'
    RouteData:
      $ref: 'openapi/health.yaml#/components/schemas/RouteData'
    Energy:
      $ref: 'openapi/health.yaml#/components/schemas/Energy'
    HeartRate:
      $ref: 'openapi/health.yaml#/components/schemas/HeartRate'
    StepData:
      $ref: 'openapi/health.yaml#/components/schemas/StepData'
    StepCadence:
      $ref: 'openapi/health.yaml#/components/schemas/StepCadence'
    SwimmingData:
      $ref: 'openapi/health.yaml#/components/schemas/SwimmingData'
    SwimmingCadence:
      $ref: 'openapi/health.yaml#/components/schemas/SwimmingCadence'
    Distance:
      $ref: 'openapi/health.yaml#/components/schemas/Distance'
    Speed:
      $ref: 'openapi/health.yaml#/components/schemas/Speed'
    FlightsClimbed:
      $ref: 'openapi/health.yaml#/components/schemas/FlightsClimbed'
    Intensity:
      $ref: 'openapi/health.yaml#/components/schemas/Intensity'
    Temperature:
      $ref: 'openapi/health.yaml#/components/schemas/Temperature'
    Humidity:
      $ref: 'openapi/health.yaml#/components/schemas/Humidity'
    Elevation:
      $ref: 'openapi/health.yaml#/components/schemas/Elevation'
    HealthDataResponse:
      $ref: 'openapi/health.yaml#/components/schemas/HealthDataResponse'
    DailyMetricValue:
      $ref: 'openapi/health.yaml#/components/schemas/DailyMetricValue'
    WorkoutSummary:
      $ref: 'openapi/health.yaml#/components/schemas/WorkoutSummary'

    # Communication
    Identity:
      $ref: 'openapi/communication.yaml#/components/schemas/Identity'
    IdentityInApplication:
      $ref: 'openapi/communication.yaml#/components/schemas/IdentityInApplication'
    Message:
      $ref: 'openapi/communication.yaml#/components/schemas/Message'
    MessageParticipant:
      $ref: 'openapi/communication.yaml#/components/schemas/MessageParticipant'

  responses:
    400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
    401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
    404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
    409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
    500:
      description: Generic Internal Server Error Response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
    502:
      description: Bad Gateway
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ThereaboutBaseErrorModel"
