<p-toolbar>
    <div class="p-toolbar-group-start" style="cursor: pointer" (click)="navigateHome()">
        <b style="padding-left: 5px; padding-right: 5px">Thereabout <img src="favicon.ico" alt="favicon"
                                                                         class="favicon"></b>
        <i style="font-size: small">near that place or time</i>
    </div>
    <div class="p-toolbar-group-center">
        <ng-content></ng-content>
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-calendar" (onClick)="navigate('')" class="button toolbar-item"
                  [severity]="isActive('') ? 'primary' : 'secondary'"
                  pTooltip="Day View" tooltipPosition="bottom" showDelay="500"></p-button>
        <p-button icon="pi pi-map" (onClick)="navigate('locationhistory')" class="button toolbar-item"
                  [severity]="isActive('locationhistory') ? 'primary' : 'secondary'"
                  pTooltip="Location History" tooltipPosition="bottom" showDelay="500"></p-button>
        <p-button icon="pi pi-star-fill" (onClick)="navigate('trips')" class="button toolbar-item"
                  [severity]="isActive('trips') ? 'primary' : 'secondary'"
                  pTooltip="Trips" tooltipPosition="bottom" showDelay="500"></p-button>
        <p-button icon="pi pi-chart-line" (onClick)="navigate('statistics')" class="button toolbar-item"
                  [severity]="isActive('statistics') ? 'primary' : 'secondary'"
                  pTooltip="Statistics" tooltipPosition="bottom" showDelay="500"></p-button>
        <p-button icon="pi pi-cog" (onClick)="navigate('configuration')" class="button toolbar-item"
                  [severity]="isActive('configuration') ? 'primary' : 'secondary'"
                  pTooltip="Configuration" tooltipPosition="bottom" showDelay="500"></p-button>
    </div>
</p-toolbar>
